<%inherit file="base.html"/>

<%!
	p_info = ["Name", "Rank", "Gender", "Location", "Assignment", "Age"]
%>

<%def name="p_buttons()">
	<form action="" method="POST">
	%for a in range(len(button['type'])):
		<button name="button" value="${button['type'][a]}" type="submit" STYLE="background-color: #081F26; color: #1A6680; border: none;">${button['type'][a]}</button>
	%endfor
	</form>
</%def>

<%def name="showPersonnel()">
		%for x in range(len(single)):
			%for y in range(len(single[x])):
				<tr>
					<td width="100px">${p_info[y]}</td><td width="250px"> ${single[x][y]}<br /></td>
				</tr>
			%endfor
		<tr><td>__________</td><td>__________</td></tr>
		%endfor
</%def>


<br />
<br />
${p_buttons()}
<br />
<br />
<table>
${showPersonnel()}

</table>





